In [1]:
print("hello")

hello

In [5]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler,StandardScaler

In [6]:
data={'size':[500,1000,1500,2000,2500],
     'bedroom':[1,2,3,4,5]}

In [7]:
df=pd.DataFrame(data)

In [8]:
df

   size  bedroom
0   500        1
1  1000        2
2  1500        3
3  2000        4
4  2500        5

In [9]:
scaler=MinMaxScaler()

In [10]:
min_max_scaler=scaler.fit_transform(df)

In [12]:
##converts the data set into the arrays formate
min_max_scaler

array([[0.  , 0.  ],
       [0.25, 0.25],
       [0.5 , 0.5 ],
       [0.75, 0.75],
       [1.  , 1.  ]])

In [13]:
##again converting the arrays into pandas formate
pd.DataFrame(min_max_scaler)

      0     1
0  0.00  0.00
1  0.25  0.25
2  0.50  0.50
3  0.75  0.75
4  1.00  1.00

In [16]:
df

   size  bedroom
0   500        1
1  1000        2
2  1500        3
3  2000        4
4  2500        5

#standardization

In [17]:
std=StandardScaler()

In [19]:
std.fit_transform(df)#mean=0,std=1

array([[-1.41421356, -1.41421356],
       [-0.70710678, -0.70710678],
       [ 0.        ,  0.        ],
       [ 0.70710678,  0.70710678],
       [ 1.41421356,  1.41421356]])

In [20]:
import pandas as pd
import numpy as pn
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [24]:
#example dataset
data={'Size_in_sqft':[500,600,800,1000,1500,1800],
     'Price_in_lakhs':[15,18,22,28,35,42]}

In [26]:
df=pd.DataFrame(data)

In [27]:
df

   Size_in_sqft  Price_in_lakhs
0           500              15
1           600              18
2           800              22
3          1000              28
4          1500              35
5          1800              42

In [ ]:
x=df[['Size_in_sqft']]  ##Independent variable
y=df[['Price_in_lakhs']]  ##Dependent variable